#header {
  background-color: $black;
  height: 105px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 9;
  @include breakpoint(medium down) {
    position: static;
    transform: none !important;
  }

  &.headroom--not-top {
    background-color: $dark-gray;
  }
  @include breakpoint(large) {
    background-color: transparent;
    height: auto;
  }

  .header-nav-wrapper {
    @include breakpoint(large) {
      display: flex;
      justify-content: space-between;
      padding: 34px 104px;
      align-items: center;
    }
    //@media screen and (max-width: 40em) {
    //  padding: 10px 20px;
    //  .logo {
    //    svg {
    //      width: 150px;
    //      height: auto;
    //    }
    //  }
    //}

    .logo {
      svg {
        max-width: 150px;
        @include breakpoint(medium) {
          max-width: 225px;
        }
        @include breakpoint(large) {
          max-width: 265px;
        }
        @include breakpoint(xlarge) {
          max-width: 325px;
        }
      }
    }

    .top-bar-left {
      flex: 1 1 auto;
    }

    .top-bar-right {
      flex: 0 1 auto;
    }

    .menu {
      display: flex;
      width: 100%;
      max-width: 550px;
      height: 22px;
      align-items: center;
      justify-content: space-around;
      li {
        a {
          font-family: $font-helvetica-neue;
          font-size: 18px;
          font-weight: 700;
          text-decoration: none;
          color: $white;

          &:after {
            margin-top: 5px;
            display: block;
            content: "";
            border-bottom: solid 3px white;
            transform: scaleX(0);
            transition: transform 150ms ease-in-out;
          }

          &:hover {
            &:after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
