@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main styles. */

@layer base {

    body::before {
        content: "";
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        padding-top: 57.25%;
        background-image: linear-gradient(to top, transparent 90%, #fffaeb),
        url("https://res.cloudinary.com/hs9mwpicm/image/upload/c_scale,f_auto,fl_lossy,h_2257,q_auto:best,w_4000/v1634945747/ir21/global/Web-bckgd-01_cbxfi0.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
        transform: rotate(180deg);
    }

    body {
        @apply font-light text-18;
    }

    @screen md {
        body {
            @apply text-lg;
        }
    }

    main {
        position: relative;
        /*z-index: 0;*/
        background-image: url("https://res.cloudinary.com/hs9mwpicm/image/upload/c_scale,f_auto,fl_lossy,h_2257,q_auto:best,w_4000/v1634945747/ir21/global/Web-bckgd-01_cbxfi0.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% auto;
        padding: 1px 0;
    }
}


@layer components {
    .link-underline-italic {
        @apply underline italic
    }


    /*.social-icon {*/
    /*    height: 33px;*/
    /*    width: 33px;*/
    /*}*/
    /*.social-icons-flex {*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    gap: 19px;*/
    /*}*/
    @screen lg {
        /*.social-links-story {*/
        /*    position: absolute;*/
        /*    bottom: 75px;*/
        /*}*/
    }

    /* The social icons rendered with these classes,
      and it caused the icons to shrink or blow up.*/
    .svg-inline--fa.fa-w-16,
    .svg-inline--fa.fa-w-14,
    .svg-inline--fa.fa-w-11 {
        width: auto;
    }

    /* Charts */

    .the-pie-chart text,
    .the-bar-chart text {
        @apply font-bold text-18 lg:text-xl;
    }

    .chart-container {
        @apply w-full h-full lg:w-3/5;
    }

    .the-pie-chart {
        height: 350px;
    }

    .the-bar-chart {
        height: 400px;
    }

    @screen lg {
        .the-pie-chart {
            height: 500px;
        }

        .the-bar-chart {
            height: 400px;
        }
    }

    .chart-text-container {
        @apply w-full lg:w-2/5 space-y-8 md:space-y-4 px-4 lg:px-12;
    }

    .chart-legend-circle {
        border-radius: 9999px;
        width: 20px;
        height: 20px;
        border: 1px solid #000;
    }

    .chart-legend-large-circle {
        border-radius: 9999px;
        width: 44px;
        height: 20px;
        border: 1px solid #000;
        @apply place-self-start md:place-self-center;
    }

    @screen md {
        .chart-legend-large-circle {
            width: 32px;
        }
    }

    /* End charts.*/

    .numeric-stats-grid {
        @apply grid grid-cols-2 md:grid-cols-4 gap-8 place-items-center xl:max-w-screen-xl xl:mx-auto;
    }
}

@layer utilities {

    /* Stories pages. */
    .story-text-block p {
        @apply py-4;
    }

    .quote-text::before {
        content: open-quote;
    }

    .quote-text::after {
        content: close-quote;
    }

    .related-funds {
        width: 90vw;
        margin: 0 auto;
    }

    .related-funds .cl-title {
        width: 85vw;
    }

    @screen md {
        .related-funds {
            width: 719px;
        }

        .related-funds .cl-title {
            width: 694px;
        }
    }

    /* End stories pages. */
    /* Homepage */
    .homepage-story-section {
        position: relative;
        z-index: 0;
        background-image: url("https://res.cloudinary.com/hs9mwpicm/image/upload/f_auto,fl_lossy,q_auto/v1634948530/ir21/homepage/confetti-bckgd-01_ldzhuo.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% auto;
        padding: 1px 0;
    }

    .homepage-two-col {
        @apply text-center grid grid-cols-1 lg:grid-cols-2 place-items-center lg:max-w-screen-xl mx-4 lg:mx-auto;
    }

    /* End Homepage */
}


