@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-lg;
    }

    h1, h2, h3 {
        @apply font-bold my-3;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    p {
        @apply my-4;
    }

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
    }

    li {
        @apply ml-6 p-1;
    }

    hr {
        @apply my-4 border-gray-600;
    }
}

.link-underline-italic {
    @apply underline italic
}

.related-stories {
    width: 90vw;
}

.story-grid {
    display: grid;
    grid-gap: 4%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
     "aSt bSt bSt ..."
     "... cSt cSt dSt";
}

.story-grid a:nth-child(1) {
    grid-area: aSt;
    /*grid-row: 1 / 2;*/
    /*grid-column: 1 / 2;*/
}

.story-grid a:nth-child(2) {
    grid-area: bSt;
    /*grid-row: 2 / 4;*/
    /*grid-column: 1 / 2;*/
}

.story-grid a:nth-child(3) {
    grid-area: cSt;
    /*grid-row: 2 / 4;*/
    /*grid-column: 2 / 3;*/
}

.story-grid a:nth-child(4) {
    grid-area: dSt;
    /*grid-row: 5 / 6;*/
    /*grid-column: 2 / 3;*/
}

@media screen and (min-width: 772px) {
    .related-stories {
        width: 768px;
    }
}
