.site-header {
  background-color: var(--white);
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.15), 0 4px 4px 0 rgba(0,0,0,0.25);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    @media screen and (max-width: $break-mmmd){
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.site-logo {
  width: 224px;
}

.site-title {
  font-size: 4em;
  letter-spacing: 0.04em;
  display: inline-block;
  margin: 0;

  @media screen and (max-width: $break-md){
    font-size: 3em;
  }

  @media screen and (max-width: $break-mmmd){
    font-size: 2.5em;
  }
}

.nav-desktop {
  display: inline-block;

  &--label {
    display: inline-block;
    font-size: 1.6em;
    font-weight: 700;
    margin-right: 6px;

    @media screen and (max-width: $break-mmd){
      display: none;
    }
  }

  .btn-sm {
    margin-left: 12px;
  }
}