/* CSS VARS
  https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
*/
:root {
  --text-color: #14171A;
  --white: #fff;
}

/* BASE STYLES */
html {
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--white);
}



html,
body {
  /* padding: 0;
  margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  /* color: inherit;
  text-decoration: none; */
}

* {
  box-sizing: border-box;
}
