.site-header {
    background-color: var(--white);
}

.site-header .container {
    display: flex;
    justify-content: space-between;
}

.site-logo--container {

}

.site-logo {
    width: 224px;
}

.site-title {
    font-size: 4em;
    display: inline-block;
}

.nav-desktop {
    display: inline-block;
}

.nav-desktop--label {
    display: inline-block;
    font-size: 1.6em;
    font-weight: 700;
}